#i_login{text-align: center;}
.window {
    width: 75vw;
    margin-left: 12.5vw;
    height: 70vh;
    border: 1px solid black;

    /* border-style: solid;
border-width: 1px;
border-color: black; */
    box-shadow: 10px 10px 25px grey;
    text-align: center;
}

.window>img {
    max-width: 200px;
    max-height: 200px;
    size: auto;
    margin-bottom: 30px;
}

.window input {
    border: none;
}

.window>table {
    width: 100%;
    cell-spacing: 0;

}

.window>h1 {
    font-style: italic;
    font-weight: 900;
    text-decoration: underline;
    text-align: center;
    display: block;
    font-size: xx-large;
}

.window #i_login {
    font-size: x-large;
    font-weight: bold;
}